:root {
  /* primary */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* neutral */
  --dark-grayish-magenta: hsl(300, 43%, 22%);
  --light-grayish-magenta: hsl(300, 15%, 46%);
  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-size: 0.938rem;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  padding: 1rem;
}

/* headings section */

.card .headings h1 {
  color: var(--very-dark-magenta);
  font-size: 2rem;
  font-weight: 700;
  padding: 0 2rem 0 2rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.card .headings h2 {
  color: var(--light-grayish-magenta);
  font-size: 1rem;
  font-weight: 400;
  padding: 0 1rem 0 1rem;
}

/* ratings section  */

.ratings div {
  background-color: hsl(300, 20%, 93%);
  color: var(--very-dark-magenta);
  font-weight: 700;
  padding: 0.5rem 0 0.5rem 0;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.ratings .starContainer {
  margin-bottom: 0;
}

.ratingStatement {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.fa-solid {
  color: rgb(228, 151, 9);
}

/* review section  */

.reviews {
  border-radius: 0.5rem;
}

.reviews div {
  background-color: var(--very-dark-magenta);
  border-radius: 0.5rem;
}

.reviewContainer {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.reviewImg {
  border-radius: 100%;
  max-width: 2.5rem;
  max-height: 2.5rem;
  margin: 1.5rem;
  margin-left: 1.5rem;
}

.reviewerInfo {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.reviewerName {
  margin-bottom: 0;
  color: var(--white);
  font-weight: 500;
}

.reviewerStatus {
  margin-top: 0.3rem;
  color: var(--soft-pink);
  font-weight: 400;
}

.review {
  color: var(--white);
  padding: 0 1.5rem 1.5rem 1.5rem;
  text-align: start;
  font-weight: 500;
}

.attribution {
  font-size: .7rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 900px) {
  body {
    background-color: var(--white);
    font-size: 0.938rem;
    font-family: "League Spartan", sans-serif;
    padding: 2rem;
    max-width: 100vw;
    max-height: 100vh;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
  }

  /* headings section */

  .headings {
    text-align: start;
    padding-right: 5rem;
  }

  .card .headings h1 {
    color: var(--very-dark-magenta);
    font-size: 4rem;
    font-weight: 700;
    padding: 0 1rem 0 1rem;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
  }

  .card .headings h2 {
    color: var(--light-grayish-magenta);
    font-size: 1rem;
    font-weight: 400;
    padding: 0 3rem 0 1rem;
  }

  /* ratings section  */

  .ratings {
    margin-top: 4rem;
  }

  .ratings > div {
    background-color: hsl(300, 20%, 93%);
    color: var(--very-dark-magenta);
    font-weight: 700;
    padding: 0.5rem 0 0.5rem 0;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    max-width: 80%;
  }

  .rating1,
  .rating2,
  .rating3 {
    display: flex;
    align-items: center;
  }

  .rating1 {
    margin-top: 2rem;
  }

  .rating2 {
    margin-left: 10%;
  }

  .rating3 {
    margin-left: 20%;
  }

  .ratings .starContainer {
    margin-bottom: 0;
    padding-left: 1rem;
  }

  .ratingStatement {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
  }

  .fa-solid {
    color: rgb(228, 151, 9);
  }

  /* review section  */

  .reviews {
    border-radius: 0.5rem;
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .reviews > div {
    background-color: var(--very-dark-magenta);
    border-radius: 0.5rem;
    width: 30%;
  }

  .reviewContainer {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
  }

  .reviewImg {
    border-radius: 100%;
    max-width: 2.5rem;
    max-height: 2.5rem;
    margin: 1.5rem;
    margin-left: 1.5rem;
  }

  .reviewerInfo {
    display: flex;
    flex-direction: column no-wrap;

    padding: 0;
    margin: 0;
  }

  .reviewerName {
    margin-bottom: 0;
    color: var(--white);
    font-weight: 500;
  }

  .reviewerStatus {
    margin-top: 0.3rem;
    color: var(--soft-pink);
    font-weight: 400;
  }

  .review2 {
    margin-top: 3rem;
  }
  .review3 {
    margin-top: 6rem;
  }

  .review {
    color: var(--white);
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: start;
    font-weight: 500;
    margin-top: 0;
  }

  .attribution {
    display: none;
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
